.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
banzai
*.o
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
.libs/
compile
config.guess
config.sub
*.la
libtool
ltmain.sh
*.lo
